@charset "utf-8";
/* CSS Document */

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-color: #FFF;
	margin: 0px;
}
form {
	margin:0px;
	padding:0px
}
img {
	border:0 none;
}
a:link {
	color: #09F;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #06F;
}
a:hover {
	text-decoration: underline;
	color: #06F;
}
a:active {
	text-decoration: none;
	color: #06F;
}

div#mainContainer{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

div#flashMessage {
    background-color: #ff0;
    border: 1px solid #000;
    padding: 10px 10px 10px;
    margin-bottom: 5px;
    width: 99%;
}