<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php [QSA,L]
</IfModule>

# === NGINX Configuration ===
#location / {
#  index index.html index.htm index.php;
#
#  try_files $uri =404;
#
#  if (!-e $request_filename){
#    rewrite ^(.*)$ /index.php last;
#  }
#}